venv_skincancer/
.conda/
__pycache__/
*.pyc

all_images/
dataset/
Saved_Model/
plots/

*.zip
*.pth
*.pt
*.keras
*.h5

*.png
!Resultados/
!Resultados/*.png
!Resultados/*.txt

.ipynb_checkpoints/
*.ipynb
*.pdf
*.csv
HAM10000_metadata
teste2.py
TESTE 3.py
train.py ✅.py
*.py
!train_skin_lesion_classifier.py
!kaggle_train.py
!skin_lesion_classifier/
!skin_lesion_classifier/*.py
!KAGGLE_GUIDE.md
